<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.file.originalName%></title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; font-size:2rem;">
        <form action="/uploads">
           
            <img src="<%=locals.file.path%>" alt="">
            <h1><%=locals.file.path%></h1>
            <input type="password" name="password" id="password" placeholder="password" required>
            <input type="submit" value="Download">
        </form>
    </div>
</body>
</html>